<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/chosen.css">
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div id="content">
      {% block flash %}
        {% if flash is defined %}
          <div class="alert-message {{ flash.type }}">
            <div class="container">
              <p><strong>{{ flash.short }}</strong> {{ flash.ext }}</p>
            </div>
          </div>
        {% endif %}
      {% endblock flash %}
      {% block content %}
      {% endblock %}
    </div>
    <div id="footer">
      {% block footer %}
      {% endblock %}
    </div>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/js/chosen.jquery.min.js"></script>
    {% block script %}
    {% endblock %}
  </body>
</html>