{% extends "layout.twig" %}

{% block content %}
  {% for user in users %}
    <div class="user">
      <a href="{{ app.path('user_show', {id: user._id}) }}">{{ user.name }}</a>
    </div>
  {% endfor %}
{% endblock %}