{% extends "layout.twig" %}

{% block content %}
  <h1>{{ date.date | date('F j') }}</h1>
  <ul>
    {% for workout in workouts %}
      <li>
        {{ workout.description }}
        ({{ workout.users | pluck('name') | join(',') }})
      </li>
    {% else %}
      <li>no workouts</li>
    {% endfor %}
  </ul>
{% endblock %}